#tasks {
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: grey;
    border: 3px solid black;
    border-radius: 20px;
    margin-left: 470px;
    margin-top:90px;
}

#tasks ul{
    margin-top: 55px;
    margin-right: 40px;
}

#tasks ul li {
    list-style-type: none;
    margin-top: 20px;
    font-size: 30px;
}

#tasks ul li:hover {
    border-radius: 10px;
    background-color: #fff;
}